In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)

In [4]:
print(pd.io.sql.get_schema(df, name='ss'))

CREATE TABLE "ss" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [6]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
print(pd.io.sql.get_schema(df, name='ss'))

CREATE TABLE "ss" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
print(pd.io.sql.get_schema(df, name='ss', con=engine))

CREATE TABLE ss (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [15]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=10000)

In [16]:
df = next(df_iter)
df.shape

(10000, 20)

In [17]:
%timeit
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.to_sql(name='green_taxi_data', con=engine, if_exists='replace')

1000

In [18]:
from time import time 

while True:
    t_start = time()
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('Inserted another chunk, took %.3f seconds' % (t_end - t_start))

Inserted another chunk, took 1.398 seconds
Inserted another chunk, took 1.660 seconds
Inserted another chunk, took 1.439 seconds
Inserted another chunk, took 1.428 seconds
Inserted another chunk, took 1.619 seconds
Inserted another chunk, took 1.502 seconds
Inserted another chunk, took 1.489 seconds
Inserted another chunk, took 1.845 seconds
Inserted another chunk, took 1.501 seconds
Inserted another chunk, took 1.392 seconds
Inserted another chunk, took 1.727 seconds
Inserted another chunk, took 1.433 seconds
Inserted another chunk, took 1.580 seconds
Inserted another chunk, took 1.460 seconds
Inserted another chunk, took 1.435 seconds
Inserted another chunk, took 1.447 seconds
Inserted another chunk, took 1.471 seconds
Inserted another chunk, took 2.785 seconds
Inserted another chunk, took 2.028 seconds
Inserted another chunk, took 1.634 seconds
Inserted another chunk, took 1.772 seconds
Inserted another chunk, took 1.642 seconds
Inserted another chunk, took 1.931 seconds
Inserted another chunk, took 1.584 seconds
Inserted another chunk, took 1.864 seconds
Inserted another chunk, took 1.549 seconds
Inserted another chunk, took 1.528 seconds
Inserted another chunk, took 1.699 seconds
Inserted another chunk, took 1.586 seconds
Inserted another chunk, took 1.626 seconds
Inserted another chunk, took 1.694 seconds
Inserted another chunk, took 1.304 seconds
Inserted another chunk, took 1.427 seconds
Inserted another chunk, took 1.302 seconds
Inserted another chunk, took 1.472 seconds
Inserted another chunk, took 1.496 seconds
Inserted another chunk, took 1.517 seconds
Inserted another chunk, took 1.594 seconds
Inserted another chunk, took 1.509 seconds
Inserted another chunk, took 1.542 seconds
Inserted another chunk, took 1.522 seconds
Inserted another chunk, took 1.626 seconds
Inserted another chunk, took 1.750 seconds
Inserted another chunk, took 1.465 seconds
Inserted another chunk, took 1.533 seconds
Inserted another chunk, took 1.556 seconds
Inserted another chunk, took 1.046 seconds

StopIteration:

In [50]:
df_iter = pd.read_csv('taxi_zone_lookup.csv', iterator=True, chunksize=10000)
df = next(df_iter)
print(pd.io.sql.get_schema(df, name='ss', con=engine))
df.shape

CREATE TABLE ss (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

(265, 4)

In [51]:
df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

265

### Homework Question 3. Trip Segmentation Count

In [25]:
query = '''
SELECT count(1)
FROM green_taxi_data
WHERE trip_distance <= 1 and lpep_pickup_datetime >= '2019-10-01' and lpep_dropoff_datetime < '2019-11-01'
'''

In [26]:
pd.read_sql(query, con=engine)

    count
0  104802

In [ ]:
query = '''
SELECT count(1)
FROM green_taxi_data
WHERE trip_distance > 1 and trip_distance <= 3 and lpep_pickup_datetime >= '2019-10-01' and lpep_dropoff_datetime < '2019-11-01'
'''

In [28]:
pd.read_sql(query, con=engine)

    count
0  198924

### Homework Question 4. Longest trip for each day

Which was the pick up day with the longest trip distance?
Use the pick up time for your calculations.

In [47]:
query = '''
SELECT *
FROM ( 
    SELECT date(lpep_pickup_datetime), MAX(trip_distance) as max_dist
    FROM green_taxi_data
    GROUP BY date(lpep_pickup_datetime)) as foo
ORDER BY foo.max_dist DESC
LIMIT 1
'''

In [48]:
pd.read_sql(query, con=engine)

         date  max_dist
0  2019-10-31    515.89

### Homwork Question 5. Three biggest pickup zones

Which were the top pickup locations with over 13,000 in
`total_amount` (across all trips) for 2019-10-18?

In [78]:
query = '''
SELECT d."PULocationID", z."Zone", sum(d.total_amount)
FROM green_taxi_data d
LEFT JOIN taxi_zone_lookup z on d."PULocationID" = z."LocationID"
WHERE date(d.lpep_pickup_datetime) = '2019-10-18'
GROUP BY d."PULocationID", z."Zone"
HAVING sum(d.total_amount) > 13000
'''

pd.read_sql(query, con=engine)

   PULocationID                 Zone       sum
0            74    East Harlem North  18686.68
1            75    East Harlem South  16797.26
2           166  Morningside Heights  13029.79

### Homework Question 6. Largest tip
For the passengers picked up in October 2019 in the zone
named "East Harlem North" which was the drop off zone that had
the largest tip?

In [84]:
query = '''
    SELECT d."DOLocationID", z."Zone", d.tip_amount
    FROM green_taxi_data d
    LEFT JOIN taxi_zone_lookup z on d."DOLocationID" = z."LocationID"
    WHERE date(d.lpep_pickup_datetime) >= '2019-10-01' and date(d.lpep_pickup_datetime) <= '2019-10-31' and d."PULocationID" = 74
    ORDER BY d.tip_amount DESC
    LIMIT 10
'''

pd.read_sql(query, con=engine)

   DOLocationID                   Zone  tip_amount
0           132            JFK Airport       87.30
1           263         Yorkville West       80.88
2            74      East Harlem North       40.00
3            74      East Harlem North       35.00
4             1         Newark Airport       26.45
5           132            JFK Airport       20.00
6           236  Upper East Side North       18.45
7           132            JFK Airport       17.68
8           132            JFK Airport       17.68
9           132            JFK Airport       17.65